<div class="container contaier-fluid mx-auto mt-5 px-4 py-6">
  

  <table class="w-full border border-gray-300 text-sm shadow-sm">
    <thead class="bg-blue-100 text-gray-700">
      <tr>
        <th class="p-2 border">ID</th>
        <th class="p-2 border">Name</th>
        <th class="p-2 border">Price</th>
        <th class="p-2 border">Quantity</th>
        <th class="p-2 border">Expiry</th>
        <th class="p-2 border">Type</th>
        <th class="p-2 border text-center">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let drug of drugs" class="hover:bg-gray-50">
        <td class="p-2 border text-center">{{ drug.id }}</td>
        <td class="p-2 border">{{ drug.name }}</td>
        <td class="p-2 border text-right">₹ {{ drug.price}}</td>
        <td class="p-2 border text-center">{{ drug.quantityInStock }}</td>
        <td class="p-2 border text-center">{{ drug.expiryDate | date:'yyyy-MM-dd'}}</td>
        <td class="p-2 border text-center">{{ drug.drugType}}</td>
        <td class="p-2 border text-center">
          <button class="btn btn-sm btn-primary me-2" [routerLink]="['/drugs/edit', drug.id]">Edit</button>
          <button class="btn btn-sm btn-danger" (click)="confirmDelete(drug.id!)">Delete</button>
        </td>
      </tr>
      <tr *ngIf="drugs.length === 0">
        <td colspan="7" class="text-center p-4 text-gray-500">No drugs found.</td>
      </tr>
    </tbody>
  </table>


</div>